body, html{
  overflow-x: hidden;
}

.container{
  @media (min-width: 768px) {
    padding: 0px 30px 0;
  }
}

.conteudo .container{
  @media (min-width: 768px) {
    width: 90% !important;
    margin-left: 37px;
  }  
}

.secBannerBannerPrincipal {
  margin-top: 40px; 
}

.titulo-principal-pagina {
  margin-top: 40px;
}

.sect-texto-duas-coluna {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding-top: 16px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem; // Espaçamento maior entre colunas como na imagem
    }
    
    // Caso o usuário use divs ao invés de p direto
    > div {
       display: flex;
       flex-direction: column;
       gap: 1rem;
    }
  }
}

.sect-btn-padrao {
  .container {
    padding-top: 28px;
  }
}

.sect-banner-secundario {
  margin-bottom: 60px;

  img {
    max-width: 936px;
    width: 100%;
  }

  &.banner-secundario-quem-somos {
    margin-top: 70px;
  }
}

.sect-texto {
  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.sect-numeros {
  padding-bottom: 60px;
  padding-top: 14px;

  h3 {
    margin-bottom: 40px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }
  }

  .grid-numeros {
    display: flex;
    gap: 137px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 131px;
    }
  }

  .coluna-numeros {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @media (min-width: 992px) {
        gap: 30px;
    }
  }

  .card-numero {
    border: 1px solid var(--verde); // Usando a variável de cor verde
    border-radius: 20px;
    padding: 30px;
    position: relative;
    background: #fff; // Assumindo fundo branco

    &.card-numero-1{
      border-top-left-radius: 20px;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px){
        max-width: 294px;
      }
    }

    &.card-numero-2{
      border-top-left-radius: 70px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px){
        max-width: 294px;
      }
    }

    &.card-numero-3{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 70px;

      @media(min-width: 992px){
        max-width: 323px;
      }
    }

    &.card-numero-4{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 70px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px){
        max-width: 323px;
      }
    }

    .header-card {
      margin-bottom: 20px;
      strong {
        font-size: 24px;
        color: var(--verde-escuro);
        text-transform: uppercase;
      }
    }

    .item-numero {
      display: flex;
      gap: 20px;
      position: relative;
      padding-bottom: 30px;
      
      .icon {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; // Para ficar acima da linha se necessário
        background: #fff; // Para cobrir a linha passando por trás se fosse contínua
        
        img, svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        
        strong {
          font-size: 32px;
          line-height: 1;
          font-weight: 800; // Extra bold
          color: var(--verde-escuro);
          margin-bottom: 5px;
        }

        span {
          font-size: 16px;
          line-height: 1.2;
          color: var(--verde-escuro);
          font-weight: 600;
        }
      }
    }
  }
}

.sect-separador {
  padding-top: 50px;
  .separador {
    width: 100%;
    height: 2px;
    background-color: var(--verde);
  }
}

.sect-nosso-dna {
  padding-top: 70px;

  h2 {
    margin-bottom: 22px;
  }

  .texto-citacao {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0%;

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }
    
    span {
      display: block;
      color: var(--verde-escuro);
      background: linear-gradient(to top, #BED56F 40%, transparent 40%);
      display: inline;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  .content {
    position: relative;
    background: linear-gradient(90deg, #004A4A 0%, #00985C 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 70px 60px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: 992px) {
      margin-left: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100vw;
      background: #00985C;
      margin-left: -1px;
    }

    .visao, .proposito {
      display: flex;
      align-items: center;
      gap: 35px;

      h3 {
        margin-bottom: 6px;
        font-weight: 400;
        color: var(--verde-claro);
      }

      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 28px;
        color: var(--branco);

      }
    }
  }
}

.sec-nossos-valores {
  padding-top: 87px;

  .titulo-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;

    .icon-svg {
      margin-bottom: 20px;
    }

    h3 {
      text-align: center;
      margin-bottom: 5px;
    }

    p {
      text-align: center;
    }
  }

  .itens-valores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    position: relative; // Para posicionar o conector

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .conector-valores {
      position: absolute; 
      top: 41px; 
      left: 0; 
      right: 16.666%; 
      height: 186px; 
      z-index: 0; 
      pointer-events: none;
      width: 100%;

      .linha {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid var(--verde);
        border-radius: 20px;
        border-top-left-radius: 70px;
       }
     }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      z-index: 1; // Ficar acima da linha
      position: relative;
      padding: 0 30px;

      margin-bottom: 30px;

      .icon-svg {
        background: var(--branco);
        padding: 8px;
        position: relative;
        z-index: 2; // Ícone acima da linha
        border-radius: 50%; // Garante que o fundo branco seja circular se necessário, ou retangular
      }

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

.sec-imagem-full {
  padding-top: 20px;
  img {
    max-width: 708px;
    width: 100%;
  }
}



.sec-organograma {
  padding: 50px 0;
  background: linear-gradient(84.3deg, #10484C -5.08%, #00995D 99.71%);

    h2 {
      color: var(--branco);
      margin-bottom: 10px;
    }

    p {
      color: var(--branco);
      margin-bottom: 19px;
    }

    .btn-padrao {
      &:hover{
        background: var(--verde);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); // Sombra adicionada
        svg{
          animation: arrow-move-up 1s infinite alternate;
        }
      }

      @keyframes arrow-move-up {
        0% { transform: translateY(0); }
        100% { transform: translateY(5px); }
      }
    }
}

.unidades-hospitalares {
  padding: 60px 0 60px;

  p {
    margin-bottom: 10px;
  }

}

.texto-citacao {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0%;

  @media screen and (max-width: 992px) {
    margin-bottom: 40px;
  }
  
  span {
    display: block;
    color: var(--verde-escuro);
    background: linear-gradient(to top, #BED56F 40%, transparent 40%);
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.unidades-proprias {
  .title-sec {
    margin-bottom: 29px;
  }

 

  .hospital-unimed-sul {
    h4 {
      margin: 25px 0 7px;
      color: var(--laranja);
      font-weight: 400;
    }

    .btn-padrao {
      margin-top: 23px;
    }
  }
}

.sec-hospital-unimed {
  margin-top: 60px;
  
  @media screen and (max-width: 992px) {
    margin-top: 102px;
  }

  .content {
    background: #EAE3D8;
    padding: 42px 38px;
    border-radius: 30px;

    h4 {
      color: var(--laranja);
      margin-top: 25px;
      margin-bottom: 6px;
    }

    .item-verde {
      background: var(--verde-escuro);
      border-radius: 20px;
      border-bottom-right-radius: 70px;
      margin: 33px 0 26px;
      position: relative;
      padding-left: 55px;

      display: flex;
      align-items: center;
      min-height: 154px;

      p {
        color: var(--branco);
        padding: 23px 32px 23px 0px;
        font-size: 15px;
        font-weight: 400;
        
      }

      .icon-svg {
        background: #EAE3D8;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        position: absolute;
        left: -34px;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5px;


        .content-svg {
          background: var(--verde-escuro);
          width: 58px;
          height: 58px;

          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 25px;
            height: auto;
          }
        }
      }

      @media (max-width: 768px) {
        padding-left: 20px;
        margin-left: 30px;
        
        .icon-svg {
          width: 54px;
          height: 54px;
          left: -27px;
          
          .content-svg {
            width: 46px;
            height: 46px;
            
            svg {
              width: 20px;
            }
          }
        }

        p {
          font-size: 14px;
          padding: 15px 15px 15px 25px;
        }
      }
    }

    .btn-padrao {
      margin-top: 20px;
    }
  }



}

.sec-centro-oncologico {
  padding: 80px 0;

  h4 {
    margin: 25px 0 6px;
  }
}

.sec-centros-imagem {
  
  .content {
    padding: 47px 38px;
    background: #EAE3D8;
    border-radius: 30px;
  }

  .title-principal {
    margin: 29px 0 38px;

    h4 {
      text-transform: uppercase;
    }
  }

  .list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .item {
      border: 1px solid #08484C;
      padding: 27px 32px;
      border-radius: 20px;    
      position: relative;


      &.item-1 {
        border-top-left-radius: 70px;
      }

      &.item-2 {
        border-bottom-left-radius: 70px;
      }

      &.item-3 {
        
        border-top-right-radius: 70px;
      }

      &.item-4 {
        border-bottom-right-radius: 70px;
      }


      .title {
        position: absolute;
        top: -25px;
        background: #EAE3D8;
        padding: 10px;

        h4 {
          font-weight: 400;
          font-size: 22px;
          line-height: 29px;
          text-transform: uppercase;
          color: var(--verde);
        }
      }
    }
  }

  .btn-padrao {
    margin-top: 40px;
  }
} 