body, html{
  overflow-x: hidden;
}

.container{
  @media (min-width: 768px) {
    padding: 0px 30px 0;
  }
}

.conteudo .container{
  @media (min-width: 768px) {
    width: 90% !important;
    margin-left: 37px;
  }  
}

.secBannerBannerPrincipal {
  margin-top: 40px; 
}

.titulo-principal-pagina {
  margin-top: 40px;
}

.sect-texto-duas-coluna {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding-top: 16px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem; // Espaçamento maior entre colunas como na imagem
    }
    
    // Caso o usuário use divs ao invés de p direto
    > div {
       display: flex;
       flex-direction: column;
       gap: 1rem;
    }
  }
}

.sect-btn-padrao {
  .container {
    padding-top: 28px;
  }
}

.sect-banner-secundario {
  margin-bottom: 60px;

  img {
    max-width: 936px;
    width: 100%;
  }

  &.banner-secundario-quem-somos {
    margin-top: 70px;
  }
}

.sect-texto {
  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}