body,
html {
  overflow-x: hidden;
}

.container {
  @media (min-width: 768px) {
    padding: 0px 30px 0;
  }
}

.conteudo .container {
  @media (min-width: 768px) {
    width: 90% !important;
    margin-left: 37px;
  }
}

.secBannerBannerPrincipal {
  margin-top: 40px;
}

.titulo-principal-pagina {
  margin-top: 40px;
}

.sect-texto-duas-coluna {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding-top: 16px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem; // Espaçamento maior entre colunas como na imagem
    }

    // Caso o usuário use divs ao invés de p direto
    >div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.sect-btn-padrao {
  .container {
    padding-top: 28px;
  }
}

.sect-banner-secundario {
  margin-bottom: 60px;

  img {
    max-width: 936px;
    width: 100%;
  }

  &.banner-secundario-quem-somos {
    margin-top: 70px;
  }
}

.sect-texto {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.sect-numeros {
  padding-bottom: 60px;
  padding-top: 14px;

  h3 {
    margin-bottom: 40px;
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  .grid-numeros {
    display: flex;
    gap: 137px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 131px;
    }
  }

  .coluna-numeros {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 992px) {
      gap: 30px;
    }
  }

  .card-numero {
    border: 1px solid var(--verde); // Usando a variável de cor verde
    border-radius: 20px;
    padding: 30px;
    position: relative;
    background: #fff; // Assumindo fundo branco

    &.card-numero-1 {
      border-top-left-radius: 20px;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px) {
        max-width: 294px;
      }
    }

    &.card-numero-2 {
      border-top-left-radius: 70px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px) {
        max-width: 294px;
      }
    }

    &.card-numero-3 {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 70px;

      @media(min-width: 992px) {
        max-width: 323px;
      }
    }

    &.card-numero-4 {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 70px;
      border-bottom-left-radius: 20px;

      @media(min-width: 992px) {
        max-width: 323px;
      }
    }

    .header-card {
      margin-bottom: 20px;

      strong {
        font-size: 24px;
        color: var(--verde-escuro);
        text-transform: uppercase;
      }
    }

    .item-numero {
      display: flex;
      gap: 20px;
      position: relative;
      padding-bottom: 30px;

      .icon {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; // Para ficar acima da linha se necessário
        background: #fff; // Para cobrir a linha passando por trás se fosse contínua

        img,
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        strong {
          font-size: 32px;
          line-height: 1;
          font-weight: 800; // Extra bold
          color: var(--verde-escuro);
          margin-bottom: 5px;
        }

        span {
          font-size: 16px;
          line-height: 1.2;
          color: var(--verde-escuro);
          font-weight: 600;
        }
      }
    }
  }
}

.sect-separador {
  padding-top: 50px;

  .separador {
    width: 100%;
    height: 2px;
    background-color: var(--verde);
  }
}

.sect-nosso-dna {
  padding-top: 70px;

  h2 {
    margin-bottom: 22px;
  }

  .texto-citacao {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0%;

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }

    span {
      display: block;
      color: var(--verde-escuro);
      background: linear-gradient(to top, #BED56F 40%, transparent 40%);
      display: inline;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  .content {
    position: relative;
    background: linear-gradient(90deg, #004A4A 0%, #00985C 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 70px 60px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: 992px) {
      margin-left: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100vw;
      background: #00985C;
      margin-left: -1px;
    }

    .visao,
    .proposito {
      display: flex;
      align-items: center;
      gap: 35px;

      h3 {
        margin-bottom: 6px;
        font-weight: 400;
        color: var(--verde-claro);
      }

      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 28px;
        color: var(--branco);

      }
    }
  }
}

.sec-nossos-valores {
  padding-top: 87px;

  .titulo-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;

    .icon-svg {
      margin-bottom: 20px;
    }

    h3 {
      text-align: center;
      margin-bottom: 5px;
    }

    p {
      text-align: center;
    }
  }

  .itens-valores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: relative; // Para posicionar o conector

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .conector-valores {
      position: absolute;
      top: 41px;
      left: 0;
      right: 16.666%;
      height: 186px;
      z-index: 0;
      pointer-events: none;
      width: 100%;

      .linha {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid var(--verde);
        border-radius: 20px;
        border-top-left-radius: 70px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      z-index: 1; // Ficar acima da linha
      position: relative;
      padding: 0 30px;

      margin-bottom: 30px;

      .icon-svg {
        background: var(--branco);
        padding: 8px;
        position: relative;
        z-index: 2; // Ícone acima da linha
        border-radius: 50%; // Garante que o fundo branco seja circular se necessário, ou retangular
      }

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

.sec-imagem-full {
  padding-top: 20px;

  img {
    max-width: 708px;
    width: 100%;
  }
}



.sec-organograma {
  padding: 50px 0;
  background: linear-gradient(84.3deg, #10484C -5.08%, #00995D 99.71%);

  h2 {
    color: var(--branco);
    margin-bottom: 10px;
  }

  p {
    color: var(--branco);
    margin-bottom: 19px;
  }

  .btn-padrao {
    &:hover {
      background: var(--verde);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); // Sombra adicionada

      svg {
        animation: arrow-move-up 1s infinite alternate;
      }
    }

    @keyframes arrow-move-up {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(5px);
      }
    }
  }
}

.unidades-hospitalares {
  padding: 60px 0 60px;

  p {
    margin-bottom: 10px;
  }

}

.texto-citacao {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0%;

  @media screen and (max-width: 992px) {
    margin-bottom: 40px;
  }

  span {
    display: block;
    color: var(--verde-escuro);
    background: linear-gradient(to top, #BED56F 40%, transparent 40%);
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.unidades-proprias {
  .title-sec {
    margin-bottom: 29px;
  }



  .hospital-unimed-sul {
    h4 {
      margin: 25px 0 7px;
      color: var(--laranja);
      font-weight: 400;
    }

    .btn-padrao {
      margin-top: 23px;
    }
  }
}

.sec-hospital-unimed {
  margin-top: 60px;

  @media screen and (max-width: 992px) {
    margin-top: 102px;
  }

  .content {
    background: #EAE3D8;
    padding: 42px 38px;
    border-radius: 30px;

    h4 {
      color: var(--laranja);
      margin-top: 25px;
      margin-bottom: 6px;
    }

    .item-verde {
      background: var(--verde-escuro);
      border-radius: 20px;
      border-bottom-right-radius: 70px;
      margin: 33px 0 26px;
      position: relative;
      padding-left: 55px;

      display: flex;
      align-items: center;
      min-height: 154px;

      p {
        color: var(--branco);
        padding: 23px 32px 23px 0px;
        font-size: 15px;
        font-weight: 400;

      }

      .icon-svg {
        background: #EAE3D8;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        position: absolute;
        left: -34px;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5px;


        .content-svg {
          background: var(--verde-escuro);
          width: 58px;
          height: 58px;

          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 25px;
            height: auto;
          }
        }
      }

      @media (max-width: 768px) {
        padding-left: 20px;
        margin-left: 30px;

        .icon-svg {
          width: 54px;
          height: 54px;
          left: -27px;

          .content-svg {
            width: 46px;
            height: 46px;

            svg {
              width: 20px;
            }
          }
        }

        p {
          font-size: 14px;
          padding: 15px 15px 15px 25px;
        }
      }
    }

    .btn-padrao {
      margin-top: 20px;
    }
  }



}

.sec-centro-oncologico {
  padding: 80px 0;

  h4 {
    margin: 25px 0 6px;
  }
}

.sec-centros-imagem {

  .content {
    padding: 47px 38px;
    background: #EAE3D8;
    border-radius: 30px;
  }

  .title-principal {
    margin: 29px 0 38px;

    h4 {
      text-transform: uppercase;
    }
  }

  .list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .item {
      border: 1px solid #08484C;
      padding: 27px 32px;
      border-radius: 20px;
      position: relative;


      &.item-1 {
        border-top-left-radius: 70px;
      }

      &.item-2 {
        border-bottom-left-radius: 70px;
      }

      &.item-3 {

        border-top-right-radius: 70px;
      }

      &.item-4 {
        border-bottom-right-radius: 70px;
      }


      .title {
        position: absolute;
        top: -25px;
        background: #EAE3D8;
        padding: 10px;

        h4 {
          font-weight: 400;
          font-size: 22px;
          line-height: 29px;
          text-transform: uppercase;
          color: var(--verde);
        }
      }
    }
  }

  .btn-padrao {
    margin-top: 40px;
  }
}


/* Raylane Sec */

.banner-pagina-sub {
  margin: 45px 0 30px;
}


.sec-texto-nossas-pessoas {
  margin-bottom: 30px;

  h4 {
    margin-bottom: 5px;
  }
}

.sec-texto-nossas-pessoas-2 {
  margin-bottom: 50px;
}

/* Nossas Pessoas */

.container-ancora {
  background: var(--verde-escuro);
  border-radius: 30px;
  padding: 0px 75px;

  display: flex;
  justify-content: space-around;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }

  a {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--branco);
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease-in-out;

    span {
      display: block;
      padding: 8px 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 0%;
      height: 7px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: var(--verde-claro);
      z-index: 99;
      transition: all 0.5s ease-in-out;
    }

    &.active {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 7px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--verde-claro);
        z-index: 99;
      }
    }

    &:hover {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 7px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--verde-claro);
        z-index: 99;
      }
    }
  }
}

.numero-ano {
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--verde-escuro);
  margin-bottom: 40px;
  margin-top: 17px;
  display: block;
}

.banner-imagem-full {
  width: 100%;
  margin-bottom: 50px;

  img {
    width: 100%;
  }
}

.nossos-numeros-nossas-pessoas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 46px;
  width: fit-content;
  flex-wrap: wrap;

  border: 1px solid var(--verde);
  border-radius: 20px;
  border-top-right-radius: 70px;

  padding: 0 45px 20px 21px;

  .item-numero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 195px;

    margin-top: -30px;

    .icon-svg {
      background: var(--branco);

      padding: 10px;
    }

    .numero {
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      letter-spacing: 0%;
      color: var(--verde-escuro);
    }

    .texto {
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
      line-height: 20.5px;
      letter-spacing: 0%;
      color: var(--verde-escuro);
    }
  }
}

.nossos-colaboradores-numeros {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 45px;
  width: fit-content;
  flex-wrap: wrap;

  border: 1px solid var(--verde);
  border-radius: 20px;
  border-top-right-radius: 70px;

  padding: 0 45px 20px 38px;
  height: 139px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 992px) {
    margin-top: 30px;
  }

  .item-numeros {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100px;

    margin-top: -30px;

    .icon-svg {
      background: var(--branco);
      padding: 5px 10px;
      position: absolute;
      top: -23px;

      strong {
        font-weight: 700;
        font-size: 16px;
        color: var(--verde);
        white-space: nowrap;
      }
    }

    .numero {
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 0%;
      color: var(--verde-escuro);

      span {
        font-weight: 700;
        font-style: Bold;
        font-size: 13px;
        letter-spacing: 0%;
      }
    }

    .texto {
      font-weight: 700;
      font-size: 18px;
      line-height: 20.5px;
      letter-spacing: 0%;
      color: var(--verde-escuro);
    }

    &:not(:has(.icon-svg)) {
      margin-top: 0;
      align-self: flex-end;
    }
  }

  .list-numeros {
    margin-top: -10px;
    margin-bottom: 0;

    p {
      font-size: 15px;
      line-height: 24px;
      color: var(--verde-escuro);
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}

.numeros-novas-contratacoes {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
  width: fit-content;
  flex-wrap: wrap;

  border: 1px solid var(--verde);
  border-radius: 20px;
  border-top-right-radius: 70px;

  padding: 0 45px 20px 38px;
  height: 139px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 992px) {
    margin-top: 30px;
  }

  .item-numero-contraracoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100px;

    margin-top: -30px;

    .icon-svg {
      background: var(--branco);
      padding: 5px 10px 5px 0;
      position: absolute;
      top: -23px;

      strong {
        font-weight: 700;
        font-size: 16px;
        color: var(--verde);
        white-space: nowrap;
      }
    }

    .numero {
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 0%;
      color: var(--verde-escuro);

      span {
        font-weight: 700;
        font-style: Bold;
        font-size: 13px;
        letter-spacing: 0%;
      }
    }

    .texto {
      font-weight: 700;
      font-size: 16px;
      line-height: 20.5px;
      letter-spacing: 0%;
      color: var(--verde-escuro);
      max-width: 199px;
    }

    &:not(:has(.icon-svg)) {
      margin-top: 0;
      align-self: flex-end;
    }
  }
}

.titulo-novas-contratacoes {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0%;
  color: var(--verde);

  display: block;
  margin-bottom: 40px;
}

.item-numeros-saude-seguranca {
  border: 1px solid var(--verde);
  border-radius: 20px;
  border-top-right-radius: 70px;

  padding: 0 45px 20px 38px;
  width: 100%;
  position: relative;

  .top-header {
    background: var(--bege);
    padding: 5px 10px 5px 5px;
    margin-top: -35px;
    width: fit-content;

    strong {
      font-weight: 700;
      font-size: 40px;
      color: var(--verde);
      white-space: nowrap;
    }
  }

  .bottom-header {
    .list-numeros {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;
      width: fit-content;
      flex-wrap: wrap;

      .numero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 199px;

        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0%;
        color: var(--verde-escuro);

        span.numero-label {
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 0%;
        }
      }
    }
  }
}

/* fim nossas pessoas david
 */
.nossas-pessoas-2 {
  padding-bottom: 40px;

  h5 {
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 0;
  }

  img {
    margin-bottom: 30px;
  }

  .sec-lista-descritiva {
    p {
      margin-bottom: 0 !important;
    }
  }

  #paragrafo-2 {
    max-width: 416px;
  }
}

.btn-pessoas {
  a {
    color: inherit;
  }

  svg {
    position: relative;
    right: -20px;
  }
}

.sec-list {
  margin-left: 20px;
  margin-bottom: 20px;

  ul {
    list-style: disc;

    li {
      font-size: 15px;
      font-weight: 400;
      color: var(--verde-escuro);
      line-height: 1.8;
      padding-left: 5px;
    }

    li::marker {
      font-size: 10px;
    }
  }
}

.sec-lista-descritiva {
  margin-bottom: 30px;

  ul {
    list-style: disc;
    margin-left: 12px;
    padding-bottom: 5px;

    li {
      font-size: 15px;
      font-weight: 400;
      color: var(--verde);
      line-height: 1.8;
      padding-left: 5px;
    }

    li::marker {
      font-size: 14px;
    }
  }

  span {
    color: var(--verde);
    font-weight: bold;
  }

  p {
    margin-bottom: 30px;
  }

  .sec-list {
    li {
      color: var(--verde-escuro);
    }
  }
}

.sec-lista-descritiva-2 {
  margin: 30px 0;

  h5 {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 11px;
  }

  p {
    margin-bottom: 0;
  }
}

.sec-lista-descritiva-3 {
  margin-bottom: 40px;

  h4 {
    margin-bottom: 11px;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 1.5rem;
    margin-left: 12px;

    li {
      list-style: disc;
      font-size: 15px;
      font-weight: 400;
      color: var(--verde-escuro);
      line-height: 1.8;
      padding-left: 5px;

      span {
        color: var(--verde);
        font-weight: 600;
      }
    }

    li::marker {
      font-size: 14px;
      color: var(--verde);
    }
  }
}

.sec-list-space {
  p {
    margin-bottom: 30px;
  }
}

.escape-7-space {
  margin-left: 25px !important;
}

.retangulo-verde {
  max-width: 460px;
  min-height: 294px;
  width: 100%;
  border-radius: 20px 70px 20px 20px;
  background: var(--verde-escuro, #004d40);

  @media (max-width: 992px) {
    margin-bottom: 40px;
  }
}

.stats-section {
  padding: 18px 0 30px;

  .stats-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 992px) {
      justify-content: center;
      gap: 20px;
    }
  }

  .stats-column {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @media (max-width: 992px) {
      padding: 0 30px;
      flex-direction: column;
    }
  }

  .stat-card {
    border: 1px solid var(--verde);
    border-radius: 20px 70px 20px 20px;
    padding: 40px 40px 30px;
    background: #fff;
    position: relative;

    @media (min-width: 992px) {
      max-width: 226px;
      height: 128px;
    }

    .year {
      position: absolute;
      top: -28px;
      left: 40%;
      transform: translateX(-50%);
      background: #fff;
      padding: 0 15px;
      font-size: 40px;
      font-weight: 700;
      color: var(--verde);
    }

    .number {
      font-size: 30px;
      line-height: 0.8;
      font-weight: 800;
      color: var(--verde-escuro);
    }

    .description {
      font-size: 18px;
      line-height: 1.3;
      color: var(--verde-escuro);
      font-weight: 600;
    }
  }
}

.stat-card-gestao {
  border: 1px solid var(--verde);
  border-radius: 20px 70px 20px 20px;
  padding: 48px 33px 22px 22px;
  background: #fff;
  position: relative;

  @media (min-width: 992px) {
    max-width: 256px;
    height: 138px;
  }

  .year {
    position: absolute;
    top: -28px;
    left: 40%;
    transform: translateX(-50%);
    background: #fff;
    padding: 0 15px;
    font-size: 40px;
    font-weight: 700;
    color: var(--verde-escuro);
  }

  .number {
    font-size: 30px;
    line-height: 0.8;
    font-weight: 800;
    color: var(--verde-escuro);
  }

  .description {
    font-size: 18px;
    line-height: 1.3;
    color: var(--verde-escuro);
    font-weight: 600;
  }
}

.escape-7-imagens {
  .sec-lista-descritiva-3 {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 6px !important;

    h5 {
      margin-bottom: 0;
    }
  }

}

.sec-texto-nossa-gestao {
  padding: 0 0 30px;
}

.nossa-gestao-canais {
  p {
    margin-bottom: 0;
  }
}

.sec-nossas-solucoes {
  padding: 15px 0 90px;

  h4 {
    text-align: center;
    text-transform: uppercase; // Para seguir o padrão da imagem
    font-weight: 400;
    color: var(--verde-escuro); // Cor aproximada do título
    margin-top: 15px;
  }

  .itens-valores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px; // Espaço entre as colunas
    row-gap: 60px; // Espaço entre as linhas
    position: relative;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }

    .conector-valores {
      position: absolute;
      top: 22px; // Ajustado para ficar no meio exato do ícone (44px / 2)
      left: 5%;
      right: 5%;
      height: 250px; // Ajuste conforme a altura do seu conteúdo
      z-index: 0;
      pointer-events: none;

      .linha {
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid #00995D; // Linha um pouco mais grossa como na imagem
        border-radius: 70px 20px 20px 20px; // Curvatura maior conforme a imagem
        max-height: 196px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      z-index: 1;
      margin-bottom: -40px;
      position: relative;
      width: 100%; // Ocupa a coluna do grid

      .icon-svg {
        background: #fff; // Fundo branco para "cortar" a linha
        padding: 0 15px; // Padding lateral para afastar a linha do ícone
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px; // Altura fixa para alinhar com a linha
      }

      p {
        text-align: center;
        max-width: 240px; // Limita a largura do texto para não espalhar muito
      }
    }
  }
}

.unimed-solucoes {
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 622px;
    height: auto;
    object-fit: cover;
  }
}

.sec-texto-ans {
  margin-bottom: 30px;

  .container-qualidade {
    max-width: 1011px;
    margin-left: 33px;

    @media (max-width: 992px) {
      margin: 0 auto;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x)*.5);
      padding-left: calc(var(--bs-gutter-x)*.5);
    }
  }

  .fundo-qualidade {
    background-image: url(../../build/imgs/ans/page-1/qualidade.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    padding: 48px 33px;
    margin-bottom: 60px;

    .conteudo-qualidade {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: 1px solid var(--verde-claro);
      border-radius: 0 70px 0 70px;
      padding: 38px 24px 38px 63px;
      max-width: 728px;

      .titulo {
        font-size: 60px;
        font-weight: 400;
        color: var(--branco);
        text-transform: uppercase;
      }

      .descricao {
        font-size: 15px;
        font-weight: 400;
        color: var(--branco);
        margin-bottom: 15px;
        max-width: 650px;
        line-height: 1.8;
      }
    }

    @media (max-width: 992px) {
      justify-content: center;
      padding: 20px;
      border-radius: 20px;
      min-height: auto;


      .conteudo-qualidade {
        padding: 30px 20px;
        border-radius: 0 40px 0 40px;
        max-width: 100%;
      }

      .conteudo-qualidade .titulo {
        font-size: 42px !important;
        margin-bottom: 15px;
      }
    }
  }

  .item-ans {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;

    p {
      margin-bottom: 0;
    }
  }
}

.sec-ans-solucoes {
  padding: 15px 0 90px;

  h4 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--verde-escuro);
    margin-top: 17px;
    font-size: 40px;

    @media screen and (max-width: 992px) {
      font-size: 32px;
    }
  }

  .itens-valores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 70px;
    position: relative;
    padding: 0 66px;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr); // 2 colunas
      gap: 40px 20px; // gap vertical e horizontal
      padding: 0 20px; // Reduz o padding lateral
      justify-items: center; // Centraliza os itens no grid
    }

    @media screen and (max-width: 360px) {
      grid-template-columns: 1fr; // 1 coluna em telas muito pequenas
    }

    .conector-valores {
      position: absolute;
      top: 29px;
      left: 0;
      right: calc(2% + 38px);
      height: 128px;
      z-index: 0;
      pointer-events: none;

      @media screen and (max-width: 992px) {
        display: none; // Esconde a linha em mobile
      }

      .linha {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #00995D;
        border-radius: 20px 70px 20px 20px;
        max-height: 196px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 1;
      position: relative;
      width: 100%;

      @media screen and (max-width: 992px) {
        align-items: center; // Centraliza o conteúdo do item
        text-align: center;
      }

      .icon-svg {
        background: #fff;
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 44px;
        width: fit-content;
        padding: 0 15px;

        @media screen and (max-width: 992px) {
          justify-content: center;
          padding: 0;
        }
      }

      .conteudo {
        padding: 0 15px;

        @media screen and (max-width: 992px) {
          padding: 0;
        }
      }

      h4 {
        margin-top: 17px;
        margin-bottom: 5px;

        @media screen and (max-width: 992px) {
          text-align: center;
        }
      }

      p {
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        margin: 0;

        @media screen and (max-width: 992px) {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}

.sec-texto-inovacao-infraestrutura {
  margin-bottom: 30px;
}

.sect-texto-inovacao-infraestrutura {
  margin-bottom: 30px;
}

.sec-texto-esg {
  margin-bottom: 40px;

  h4 {
    margin-bottom: 6px;
  }
}

.sec-texto-premiacoes {
  #premiacoes-space-left {
    padding-left: 60px;

    @media (max-width: 992px) {
      padding: 0;
    }
  }

  #premiacoes-space-right {
    padding-right: 60px;

    @media (max-width: 992px) {
      padding: 0;
    }
  }

  .item-premiacao {
    h4 {
      margin-bottom: 17px;
    }

    p {
      margin-bottom: 40px;
    }
  }
}

.sec-texto-balanco-social {
  .btn-balanco {
    a {
      color: inherit;
      text-decoration: none;
    }

    svg {
      margin-left: 15px;
    }
  }
}

.sec-texto-indicadores-economicos {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 5px;
  }

  .texto-gestao-financeira {
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 100px;
    }

    h3 {
      margin-bottom: 100px;
    }
  }

  .btn-indicadores {
    margin-top: 20px;

    svg {
      margin-left: 15px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* footer */
footer {
  background: var(--verde-escuro);

  a {
    color: white;
    text-decoration: none;
  }

  .container {
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .backToTop {
      display: flex;
      align-items: center;
      justify-content: center;

      position: fixed;
      bottom: 20px;
      right: 20px;

      background-color: var(--laranja);
      min-width: 31px;
      height: 31px;
      border-radius: 50%;
    }
  }
}

.aspaTopo {
  img {
    position: absolute;
    top: -55px;
    right: 10px;
    width: 150px;
  }
}

/* dropdown */
.dropdown {
  position: relative;
  margin-bottom: 20px;

  .dropdownBtn {
    color: var(--verde);
    font-weight: 700;
    font-size: 17px;
    background-color: var(--bege);
    border-radius: 20px;
    padding: 18px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
      scale: 0.8;
    }

    transition: all 0.3s ease-in-out;
  }

  .result {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .dropdownBtn {
      border-radius: 20px 20px 0px 0px;

      img {
        transform: rotate(180deg);
      }
    }

    .result {
      visibility: visible;
      opacity: 1;
      max-height: unset;

      &.max400 {
        max-height: 400px;
      }

      &.max600 {
        max-height: 600px;
      }

      &.max800 {
        max-height: 800px;
      }

      &.max1000 {
        max-height: 1000px;
      }

      &.max2000 {
        max-height: 2000px;
      }
    }
  }

  .result {
    z-index: 2;
    background-color: var(--bege);
    left: 0;
    opacity: 0;
    top: 0;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    padding-bottom: 20px;
    // position: absolute;
    max-height: 0px;
    width: 100%;
    left: 0;

    p {
      color: var(--verde);
    }

    .linha {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;

      p {
        color: var(--verde);
      }
    }

    table {
      margin: 0 30px;

      th,
      td {
        color: var(--verde);
        text-align: center;
        padding: 14px 0;
        width: 1%;

        &:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }
      }

      th {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

      p {
        color: var(--verde);
      }

      td div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        margin-left: 20px;
      }
    }

    .border-line-bottom {
      border-bottom: 1px solid var(--verde);
    }
  }
}

.nossos-numeros-nossas-pessoas-second {
  align-items: flex-start;

  .item-numero-second {
    margin-top: -40px !important;
    max-width: 165px !important;
    min-width: 165px !important;
    align-items: center !important;

    .icon-svg {
      padding: 0 10px;
    }

    p {
      text-align: center !important;
    }
  }
}