body, html{
  overflow-x: hidden;
}

.container{
  @media (min-width: 768px) {
    padding: 40px 30px 0 !important;
  }
}

.conteudo .container{
  @media (min-width: 768px) {
    width: 90% !important;
    margin-left: 37px;
  }  
}