// 700 600 500 200

@font-face {
  font-family: 'Unimed Sans';
  src: url('.././fonts/unimedsans2020-bd-webfont.woff2') format('woff2'),
       url('.././fonts/unimedsans2020-bd-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unimed Sans';
  src: url('.././fonts/unimedsans-bold-webfont.woff2') format('woff2'),
       url('.././fonts/unimedsans-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Unimed Sans';
  src: url('.././fonts/unimedsans-semibold-webfont.woff2') format('woff2'),
       url('.././fonts/unimedsans-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Unimed Sans';
  src: url('.././fonts/unimedsans-regular-webfont.woff2') format('woff2'),
       url('.././fonts/unimedsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
