@media (min-width: 1400px) {
  .container{
    max-width: 1008px;
  }
}


*{
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E0E0E0; 
    border-radius: 9px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--verde-claro); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--verde-claro); 
  }
}

h1 {

  font-weight: 700;
  font-style: Bold;
  font-size: 70px;
  line-height: 75px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--verde-escuro);

  
  @media (max-width: 992px) {
    font-size: 40px;
    line-height: 45px;
  }
}

h2{

  font-weight: 400;
  font-style: Regular;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--verde-escuro);

  @media (max-width: 992px) {
    font-size: 40px;
    line-height: 45px;
  }
}

h3{
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--verde);
}

h4{
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: var(--verde-escuro);
  &.roxo{
    color: var(--roxo);
    padding-top: 10px;
    padding-bottom: 4px;
  }
  &.laranja-color {
    color: var(--laranja);
    padding-top: 9px;
    padding-bottom: 4px;
  }
}

h5{
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--verde-escuro);
}

h6{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--verde-escuro);
}

.bold-text {
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--verde-escuro);
}

.btn-padrao {
  border-radius: 25px;
  background: var(--laranja);
  color: var(--branco);
  padding: 11px 34px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: fit-content;

  text-decoration: none;
  
  transition: all 0.3s ease-in-out;

  &:hover{
    background: var(--verde);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); // Sombra adicionada
    svg{
      animation: arrow-move 1s infinite alternate;
    }
  }
}

@keyframes arrow-move {
  0% { transform: translateX(0); }
  100% { transform: translateX(5px); }
}