body{
  @media (max-width: 767px){
    padding-top: 70px;
  }
  @media (min-width: 768px){
    margin-left: 240px;
    overflow-x: hidden;
    .container{
      margin-left: 20px;
      padding-right: 20px;
    }
  }
  &.noScroll{
    overflow: hidden;
  }
}

.topbar, .sidebar{
  z-index: 3;
}

.sidebar{
    @media (max-width: 767px){
      display: none !important;
    }
    width: 240px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: width 0.2s ease-in-out;
    box-shadow: 2px 0px 4px 0px #00000014;


    background-color: white;

    .logo{
      width: 200px;
    }

    .header{
      padding-left: 25px;
      .logo{
        padding: 16px 0 16px;
      }

      h2{
        font-family: "Unimed Sans";
        font-weight: 700;
        width: 220px;
        font-size: 25px;
        line-height: 30px;
        color: var(--verde-escuro);
      }

      p.mouse-click {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 8px;

        svg {
          
            transform: rotate(180deg);
          
        }
      }
    }


    .links{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 14px;
      overflow-y: auto;
      flex: 1;
      padding-bottom: 20px;

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: #E8E2D8;
        border-radius: 4px;
      }
      scrollbar-width: thin;
      scrollbar-color: #E8E2D8 transparent;
      


      .link{
        margin-left: 15px;
        
        position: relative;

        .listra-verde {
          display: flex;
          align-items: center;
          height: 43px;
          width: 100%;
          justify-content: center;
          gap: 20px;
          transition: all 0.3s ease-in-out;

          padding-left: 15px;

          .circulo-icon {
            /* width: 44px;
            min-width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            border-radius: 50%; */

            img {
              max-width: 24px;
              max-height: 24px;
            }

            svg {
              fill: var(--verde-escuro);
            }
          }

          span {
            font-size: 15px;
            font-weight: 700;
            color: var(--verde-escuro);
            opacity: 0;
            visibility: hidden;
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
            text-wrap: auto;
            line-height: 24px;
          }
        }

        &.active{
          .listra-verde {
            background-color: var(--bg-icone-sidebar-active);
            width: 100%;
            position: relative;

            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left: 5px solid var(--verde);

            .circulo-icon {
            }

            span {
              color: var(--verde) !important;
            }
          }
          
          
          a svg{
            fill: #FFFFFF !important;
          }

          &::before {
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background-color: var(--verde);
            border-radius: 50%;
            z-index: 10;
          }

        
        }

        &.temInternas span::after{
          content: url(../imgs/arrowRight.svg);
          position: absolute;
          right: -14px;
          height: 12px;
          top: calc(50% - 8px);
        }

        .internas{
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          &:hover{
            opacity: 1;
            visibility: visible;
          }
          position: absolute;
          top: 0;
          left: 100%;
          padding-left: 20px;
          margin-left: -10px;
          .content{
            padding: 27px 16px 27px 27px;
            background: #FFFFFF;
            box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.08);
            border-radius: 13px;
            ul{
              margin-top: -10px;
              max-height: 300px;
              width: 250px;
              overflow-y: auto;
              padding-right: 20px;
              
              li a{
                font-weight: 700;
                font-size: 15px;
                line-height: 28px;
                color: var(--verde-escuro);
                padding: 5px 0;
                &:hover, .active{
                  color: var(--verde);
                }
              }
              li{
                border-bottom: 1px solid rgba(16, 72, 76, 0.2);
              }
            }
          }
        }
        &.temInternas:last-child() .internas{
          bottom: 0;
          top: unset;
        }

        &.temInternas:hover{
          .internas{
            visibility: visible;
            opacity: 1;
          }
        }

      }

      .link a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        position: relative;
        height: auto;
        width: 100%;
        text-decoration: none;

        span{
          position: relative;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
          color: var(--verde-escuro);
        
          &.font-size-generico {
            font-size: 15px;
          
            @media (max-width: 770px) {
              font-size: 17px;
              display: flex;
            }
          }
        }
      }

    }
    &:hover{
      width: 320px;
      .links{
        .link, .link.active{
          .listra-verde {
            justify-content: flex-start;

            .circulo-icon {
              margin: 0;
              transition: transform 0.2s ease-in-out;
            }
          
            span{
              opacity: 1;
              visibility: visible;
              width: auto;
              max-width: 207px;
            }
          }

          &:hover, &.active{
            .listra-verde span{
              opacity: 1;
            }
            .circulo-icon{
              transform: scale(1.1);
            }
          }
        }
      }
    }

    @media (max-height:850px) {
      .header{
        .logo{
          width: 165px !important;
        }
        h2{
          font-size: 18px;
          line-height: 20px;
          color: var(--verde-escuro);
        }
      }
    }
    @media (max-height:800px) {
      .link a .circulo-icon{
        
      }
      .link{
        margin: 0 0 0 25px !important;
      }
    }
    @media (max-height:670px) {
      .header .logo{
        padding-top: 10px;
      }
      .link{
        padding: 4px 0px !important;
      }
      .links{
        margin-top: 4px;
      }
    }
}

.topbar{
  .novoBg{
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 70px;
    background-color: white;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
    background-color: white;
  }

  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .closeMenu{
    display: none;
    height: 100VH;
    width: 100%;
  }

  .circulo-icon {
    svg {
      fill: var(--verde-escuro);
    }
  }

  &.active{
    .closeMenu{
      display: block;
    }
  }
  .links{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    height: calc(100vh - 150px);
    &::-webkit-scrollbar {
      width: 6px;
    }
    .container{
      padding-top: 20px;
      padding-bottom: 25px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    .link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 4px 0px;
      padding: 8px;
      position: relative;
      
      a{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;


        span{
          font-weight: 700;
          font-size: 17px;
          line-height: 28px;
          color: var(--verde-escuro);
          padding: 5px 0;
          transition: color 0.2s ease-in-out;
          &:hover	{
            color: var(--verde-claro);
          }
          padding-left: 10px;

          &.font-size-generico {
            
          
            @media (max-width: 770px) {
              font-size: 17px;
              display: flex;
            }
          }
        }
      }

      &.active{
        background-color: var(--verde-menu);
        border-radius: 10px;
        width: calc(100% + 2px);

        a {
          .circulo-icon {
            svg {
              fill: var(--branco) !important;
            }
          }
          span {
            color: var(--branco);
          }
        }
        span:hover{
          color: var(--verde-escuro);
        }
      }

      &.temInternas .open{
        transform: rotate(90deg);
        position: absolute;
        right: -40px;
        top: 0px;
        height: 40px;
        width: 30px;
        padding: 10px;
        margin-top: 7px;
        transition: all 0.2s ease-in-out;
        &:hover{
          transform: scale(1.1) rotate(90deg);
        }
      }

      .internas{
        height: 0;
        visibility: hidden;
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        .content ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li a{
              text-align: left;
              font-weight: 400;
              color: var(--verde-escuro);
              padding: 3px 0;
              &:hover{
                color: var(--verde-claro);
              }
            }
        }
      }

      &.temInternas.open .internas{
        transform:translate(0);
        height: 100%;
        visibility: visible;
        opacity: 1;
        display: block;
      }
      &.temInternas.open.active .internas{
        a:hover{
          color: white;
        } 
      }
    }

  }
  
  .logo{
    height: 50px;
    margin: 10px 0;
  }

  .menuBtn{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    span{
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 10px;
      background-color: var(--verde-escuro);
      transition: all 0.3s ease-in-out;
      &:nth-child(2){
        margin: 5px 0;
      }
    }
    &:hover{
      transform: scale(1.1);
    }
    &.active{
      span{
        &:nth-child(1){
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        &:nth-child(2){
          transform: rotate(45deg);
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }


  &.active{
    height: auto;
    .links{
      visibility: visible;
      margin-top: 0;
      opacity: 1;
    }
  }


  @media (min-width: 768px){
    display: none;
  }
}
