:root {
  --branco: #fff;
  --verde: #00995d;
  --verde-claro: #bed56f;
  --verde-escuro: #08484c;
  --laranja: #ed7932;
  --cinza: #e8e2d8;
  --bg-icone-sidebar-active: #bed56f33;
  --bege: #eae3d8;
}
